@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */

/* Variables CSS */
:root {

    /* --Pallette-- */
    --color-primary: #000000;
    --color-secondary: #14213d;
    --color-highlight: #fca311;
    --color-accent: #ffffff;
    --color-light: #e5e5e5;
    --color-background: #000000;
    --color-text: #ffffff;
    --font-primary: 'Outfit', sans-serif;
    
    /* --Gradients--*/
    --gradient-tags: linear-gradient(170deg, var(--color-accent) 0%, var(--color-highlight) 80%);
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    overflow-x: hidden; 
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.spinner {
    background-image: linear-gradient(var(--color-secondary) 35%,var(--color-highlight));
    width: 100px;
    height: 100px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px var(--color-secondary), 0px 5px 20px 0px var(--color-highlight);
}
  
.spinner1 {
    background-color: rgb(36, 36, 36);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(10px);
}


@keyframes spinning82341 {
    to {
      transform: rotate(360deg);
    }
}

/* Button With Icon */

.button-with-icon {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-accent);
    letter-spacing: 1px;
    padding: 1rem 1.75rem;
    text-align: center;
    min-width: 120px;
    min-height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 5px;
    outline: none;
    user-select: none;
    cursor: pointer;
    transform: translateY(0px);
    position: relative;
    background: transparent;
    color: var(--color-accent);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    transition: 150ms all ease-in-out;
}

.button-with-icon .icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    transition: all 0.5s ease-in-out;
}

.button-with-icon:active {
    transform: translateY(3px);
}

.button-with-icon:hover span {
    transform: translateX(calc(200% + 30px));
}
.button-with-icon:hover .icon {
    transform: translateX(calc(200% + 12px));
}

.button-with-icon span {
    transition: all 0.5s ease-in-out;
    white-space: nowrap;
}